<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Replace 'SomeAccount' and 'SomeKey' with valid values before running the sample.-->
    <add key="MasterConnectionString" value="DefaultEndpointsProtocol=http;AccountName=SomeAccount;AccountKey=SomeKey"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=SomeAccount;AccountKey=SomeKey"/>
  </appSettings>
</configuration>
